#!/bin/sh

# Data directory.
export DATA_DIR=/home/kent/github.com/daaas-geospatial/data

# Geospatial data text link.
export LINK=/home/kent/github.com/daaas-geospatial/framework/link.txt

# PostgreSQL database credentials.
export PG_HOST=localhost
export PG_PORT=5432
export PG_USERNAME=geoadm
export PG_GN_DB=geonetwork
export PG_SDI_DB=sdi
export PG_NRN_DB=nrn
export PG_NAT_DB=natearth
export PGPASSWORD=password
