[Unit] 
Description=GeoServer container 
Requires=docker.service 
After=docker.service 

[Service] 
Restart=always 
ExecStart=/usr/bin/docker start -a daaas_geoserver 
ExecStop=/usr/bin/docker stop -t 2 daaas_geoserver 

[Install]
WantedBy=default.target